<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PCHS BB Support</title>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      function hideSpinner() {
        const spinner = document.getElementById('spinner');
        if (spinner) {
          spinner.style.display = 'none';
        }
      };

      const observer = new MutationObserver(function (mutations) {
        mutations.forEach(function (mutation) {
          if (document.getElementById('fc_widget')) {
            hideSpinner();
            observer.disconnect();
          }
        });
      });

      observer.observe(document.body, { childList: true, subtree: true });
    });
  </script>
  <script src="https://snippets.freshchat.com/js/fc-pre-chat-form-v2.js"></script>
  <script type="application/javascript">
    const firstName = window.localStorage.getItem('firstName') || '';
    const lastName = window.localStorage.getItem('lastName') || '';
    const email = window.localStorage.getItem('email') || '';
    window.fcSettings = {
      token: "{{fcToken}}",
      host: "https://wchat.freshchat.com",
      open: true,
      config: {
        cssNames: {
          widget: 'custom_fc_frame',
          expanded: 'custom_fc_expanded'
        },
        messenger: {
          firstName,
          lastName,
          email
        }
      },
      onInit: function () {
        window.fcWidget.user.setProperties({
          firstName,
          lastName,
          email
        });
      }
    };
  </script>
  <script src="https://wchat.freshchat.com/js/widget.js" async></script>
  <style>
    #fc_frame,
    #fc_frame.fc-widget-normal {
      right: auto !important;
      left: -30px;
      top: 0;
    }

    .spinner {
      border: 4px solid rgba(0, 0, 0, .1);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border-left-color: #09f;
      animation: spin 1s ease infinite;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
</head>

<body>
  <div id="spinner" class="spinner"></div>
</body>

</html>