<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>College Chat</title>
  <script src="https://snippets.freshchat.com/js/fc-pre-chat-form-v2.js"></script>
  <script type="application/javascript">
    var preChatTemplate = {
      mainbgColor: '#0aa4db',
      maintxColor: '#fff',
      heading: 'Chat With Us',
      textBanner: '',
      SubmitLabel: 'Start Chat',
      fields: {
        field1: {
          type: "name",
          label: "Name",
          fieldId: "name",
          required: "yes",
          error: "Please Enter a valid name"
        },
        field2: {
          type: "email",
          label: "Email",
          fieldId: "email",
          required: "yes",
          error: "Please Enter a valid Email"
        },
      }
    };
    window.fcSettings = {
      token: "{{fcToken}}",
      host: "https://wchat.freshchat.com",
      open: true,
      config: {
        cssNames: {
          widget: 'custom_fc_frame',
          expanded: 'custom_fc_expanded'
        }
      },
      onInit: function () {
        console.log('widget init');
        fcPreChatform.fcWidgetInit(preChatTemplate);
      }
    };
  </script>
  <script src="https://wchat.freshchat.com/js/widget.js" async></script>
  <style>
    /* 0. Custom Freshservice Chat*/
    .chat-fc-form-outer div.fc-form ul li label {
      top: -20px !important;
    }

    .chat-fc-form-outer div.fc-form ul li {
      margin-bottom: 35px !important;
    }

    div.chat-fc-form-outer {
      right: auto !important;
    }

    #fc_frame,
    #fc_frame.fc-widget-normal {
      right: auto !important;
      left: 15px;
    }

    #page-mod-quiz-comment .mform {
      padding-bottom: 100px;
    }
  </style>
  <script type="application/javascript">

    
  </script>
  <script type="application/javascript">
    function sendToIntegration(message) {
      window.localStorage.setItem('event', JSON.stringify({
        ...message,

        // Add a timestamp to always force the value to change; otherwise, if the storage value doesn't change, we don't
        // get the storage event.
        ts: new Date() * Math.random(),
      }));
    }

    document.addEventListener('DOMContentLoaded', () => {
      document.getElementsByClassName('close-button').item(0).addEventListener('click', () => {
        // This notifies the integration script (see step #10) that the close button was clicked
        sendToIntegration({
          type: 'demo:closePanel'
        });
      });
    });
  </script>
</head>

<body>
  <p>Wait for the support form to open...</p>>
</body>

</html>