<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PCHS BB Support</title>
  <script src="https://snippets.freshchat.com/js/fc-pre-chat-form-v2.js"></script>
  <script type="application/javascript">
    const firstName = window.localStorage.getItem('firstName') || '';
    const lastName = window.localStorage.getItem('lastName') || '';
    const email = window.localStorage.getItem('email') || '';
    window.fcSettings = {
      token: "{{fcToken}}",
      host: "https://wchat.freshchat.com",
      open: true,
      config: {
        cssNames: {
          widget: 'custom_fc_frame',
          expanded: 'custom_fc_expanded'
        },
        messenger: {
          firstName,
          lastName,
          email
        }
      },
      onInit: function () {
        console.log('widget init');
        window.fcWidget.user.setProperties({
          firstName,
          lastName,
          email
        });
      }
    };
  </script>
  <script src="https://wchat.freshchat.com/js/widget.js" async></script>
  <script type="application/javascript">
    function sendToIntegration(message) {
      window.localStorage.setItem('event', JSON.stringify({
        ...message,

        // Add a timestamp to always force the value to change; otherwise, if the storage value doesn't change, we don't
        // get the storage event.
        ts: new Date() * Math.random(),
      }));
    }

    document.addEventListener('DOMContentLoaded', () => {
      document.getElementsByClassName('close-button').item(0).addEventListener('click', () => {
        // This notifies the integration script (see step #10) that the close button was clicked
        sendToIntegration({
          type: 'demo:closePanel'
        });
      });
    });
  </script>
  <style>
    #fc_frame,
    #fc_frame.fc-widget-normal {
      right: auto !important;
      left: -30px;
      top: 0;
    }
  </style>
</head>

<body>
</body>

</html>