<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Integration</title>
    <script type="application/javascript" src="/assets/iframe.js"></script>
</head>
<body>
    <p>Hello! This content is being rendered within the iframe, and communicates with the integration script that communicates with Ultra.</p>
    <button class="close-button">Close the panel</button>
</body>
</html>