<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Integration</title>
    <script type="application/javascript">
        window.__token = "<%- authorizationToken %>";
        window.__lmsHost = "<%- lmsHost %>";
    </script>
    <script type="application/javascript" src="./assets/integration.js"></script>
</head>
<body>
    Integration has loaded.
</body>
</html>